:root {
    --main-bg-color: #e9fb7d;
    --logo-bg-color: #7b9e89;
    --link-hover-color: #fa7b04;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.header-nav {
    display: flex;
    padding: 1.5rem 1.5rem;
    list-style: none;
    gap: 3rem;
}

.header-nav li {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    align-items: center;
}

#logo {
    margin-right: auto;
    border: solid black 5px;
    border-radius: 15%;
    padding: 0.5em;
    font: black;
    font-weight: 700;
    background: var(--logo-bg-color);
}

#logo a {
    background: var(--logo-bg-color);
}

li a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: rgb(4, 161, 4);
}

a {
    text-decoration: none;
}

#blog2-title {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 4em;
    padding: 0.25em;
}

h3 {
    text-align: center;
    margin-top: 1em;
}

h4 {
    text-align: center;
}
.image-flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    font-style: italic;
    font-size: 150%;
    font-weight: 700;
    gap: 1em;
}

.portrait {
    display: flex;
    width: 50vw;
    height: 70vh;
    aspect-ratio: 4/3;
    border-radius: 15%;
}

p {
    display: flex;
    justify-content: center;
    margin: 2vw 10vh;
    align-items: center;
    font-size: 150%;
}

.landscape-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    font-style: italic;
    font-size: 150%;
    font-weight: 700;
    gap: 1em;
}

.landscape {
    display: flex;
    width: 50vw;
    height: 70vh;
    aspect-ratio: 4/3;
    border-radius: 15%;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5em;
}

.social-links a {
    display: flex;
    height: 5em;
    width: 5em;
    margin: 2em;
}

.social-links a:hover {
    border: solid .25em var(--main-bg-color);
    border-radius: 50%;
}

#copyright {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 480px) {
    .header-nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-bottom: solid black 1vh;
    }

    #logo {
        margin-right: 0;
    }

    #blog2-title {
        margin: 1em 0 1em 0;
        font-size: 3em;
        padding: 0.5em;
    }

    .portrait {
        width: 70vw;
        height: 75vh;
    }

    .image-flex-container {
        gap: 0.5em;
        font-weight: 700;
    }

    p {
        justify-content: center;
    }

    .landscape {
        width: 80vw;
        height: 75vh;
    }

    .landscape-container {
        gap: 0.5em;
        font-weight: 700;
    }

    .social-links a {
        margin: 0.75em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header-nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-bottom: solid black 1vh;
        }
    
    #logo {
            margin-right: 0;
        }
        
    #blog2-title {
        margin: 1em 0 1em 0;
        font-size: 3em;
        padding: 0.5em;
        }
    
    .portrait {
        width: 80vw;
        height: 75vh;
        }

    .image-flex-container {
        gap: 0.5em;
        }

    p   {
        justify-content: center;
        }
    
    .landscape {
        width: 80vw;
        height: 75vh;
        }
    
    .landscape-container {
        gap: 0.5em;
        font-weight: 700;
        }
    
    .social-links a {
        margin: 0.75em;
        }
    }