:root {
    --main-bg-color: #e9fb7d;
    --logo-bg-color: #7b9e89;
    --link-hover-color: #fa7b04;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.header-nav {
    display: flex;
    padding: 1.5rem 1.5rem;
    list-style: none;
    gap: 3rem;
}

.header-nav li {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

#logo {
    margin-right: auto;
    border: solid black 3px;
    border-radius: 15%;
    padding: 0.5em;
    font: black;
    font-weight: 700;
    background: var(--logo-bg-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#logo a {
    background: var(--logo-bg-color);
}

li a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: rgb(4, 161, 4);
}

a {
    text-decoration: none;
}

#projects-title {
    text-align: center;
    margin-right: 50%;
    font-size: 5em;
    font-style: italic;
    font-family: 'Roboto Mono', monospace, sans;
    letter-spacing: 0.1em;
}

#projects-title span {
    animation: dot-loading 1s infinite;
    overflow: hidden;
}

.projects {
    display: flex;
    margin: 5vw;
    justify-content: space-between;
    position: relative;
}

.projects h3 {
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace, sans;
}

#project-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#twitter-id {
    display: flex;
    width: 25vw;
    height: 50vh;
    aspect-ratio: 4/3;
    border: solid black 0.25em;
    border-radius: 15%;
}

#project-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#computers-id {
    display: flex;
    width: 25vw;
    height: 50vh;
    aspect-ratio: 4/3;
    border: solid black 0.25em;
    border-radius: 15%;
}

#project-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#afl-id {
    display: flex;
    width: 25vw;
    height: 50vh;
    aspect-ratio: 4/3;
    border: solid black 0.25em;
    border-radius: 15%;
}

svg {
    fill: orange;
    border: solid 0.1em var(--logo-bg-color);
    border-radius: 50%;
    height: 4em;
    width: 4em;
}

.projects svg:hover {
    border: solid 0.5em var(--logo-bg-color);
}

p {
    padding: 2vh 2.5vw;
    font-style: italic;
    font-family: 'Roboto Mono', monospace, sans;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5em;
}

.social-links a {
    display: flex;
    height: 5em;
    width: 5em;
    margin: 2em;
}

.social-links a:hover {
    border: solid .25em var(--main-bg-color);
    border-radius: 50%;
}

#copyright {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 480px) {
    .header-nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-bottom: solid black 1vh;
    }

    #logo {
        margin-right: 0;
    }

    #projects-title {
        margin: 1em 0 1em 0;
        font-size: 3em;
    }

    .projects {
        flex-wrap: wrap;
        gap: 4em;
        font-size: 2em;
        text-align: center;
    }

    #twitter-id {
        width: 48vw;
        height: 60vh;
    }

    #computers-id {
        
        width: 48vw;
        height: 60vh;
    }

    #afl-id {
    
        width: 48vw;
        height: 60vh;
    
    }

    p {
        font-size: 0.5em;
    }

    .social-links a {
        margin: 0.75em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 728px) {
    .header-nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-bottom: solid black 1vh;
    }

    #logo {
        margin-right: 0;
    }

    #projects-title {
        margin: 1em 0 1em 0;
        font-size: 4em;
    }

    .projects {
        flex-wrap: wrap;
        gap: 4em;
        font-size: 2em;
    }

    #twitter-id {
        width: 48vw;
        height: 60vh;
    }

    #computers-id {
        
        width: 48vw;
        height: 60vh;
    }

    #afl-id {
    
        width: 48vw;
        height: 60vh;
    
    }

    p {
        font-size: 0.75em;
    }

    .social-links a {
        margin: 0.75em;
    }
}

@keyframes dot-loading {
    from {
        color:black;
    }
    to {
        color:#e9fb7d;
  }
}
