:root {
    --main-bg-color: #e9fb7d;
    --logo-bg-color: #7b9e89;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.header-nav {
    display: flex;
    padding: 1.5rem 1.5rem;
    list-style: none;
    gap: 3rem;
}

.header-nav li {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    align-items: center;
}

#logo {
    margin-right: auto;
    border: solid black 5px;
    border-radius: 15%;
    padding: 0.5em;
    font: black;
    font-weight: 700;
    background: var(--logo-bg-color);
}

#logo a {
    background: var(--logo-bg-color);
}

li a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: rgb(4, 161, 4);
}

a {
    text-decoration: none;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
#triangle-photo {
    display: flex;
    margin: 3em 8em 3em 12em;
    border: solid black 5px;
    width: 25em;
    height: 25em;
    border-radius: 30%;
}

.titles {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-style: italic;
}

.titles {
    font-size: 3rem;
}

.titles h2 {
    text-indent: 1em;
    font-size: 2rem;
}

.titles h3 {
    text-indent: 2.5em;
    font-size: 1.5rem;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5em;
}

.social-links a {
    display: flex;
    height: 5em;
    width: 5em;
    margin: 2em;
}

.social-links a:hover {
    border: solid .25em var(--main-bg-color);
    border-radius: 50%;
}

#copyright {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}